@font-face {
  font-family: "iconfont"; /* Project id 4405202 */
  src: url('../static/iconfont.woff2?t=1704797084562') format('woff2'),
       url('../static/iconfont.woff?t=1704797084562') format('woff'),
       url('../static/iconfont.ttf?t=1704797084562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e611";
}

.icon-shangjiantou:before {
  content: "\e612";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-lajitong:before {
  content: "\e615";
}

